/*custom font library*/
.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    color: #eed59b;
  }  

  .nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ae7b5a
  }
/*background colors*/
body{
    background-color: #f6dfc5;
    min-height: 120vh; 
}
.chamfer-box{
    border-radius:20px;
}
.header{
    z-index: 1;
    display:grid;
    position: fixed;
    top: 20px;
    left:40px;
    right:40px;
    bottom:610px;
    background-color: #ff8c00;
    clip-path: polygon(
    10px 0%,           /* Top-left start */
    calc(100% - 10px) 0%, /* Top-right start */
    100% 10px,         /* Top-right end */
    100% calc(100% - 10px), /* Bottom-right start */
    calc(100% - 10px) 100%, /* Bottom-right end */
    10px 100%,         /* Bottom-left start */
    0% calc(100% - 10px), /* Bottom-left end */
    0% 10px            /* Top-left end */
    )
}
.scroll-page{
    scroll-behavior: smooth;
}
h2{
    position: fixed;
}
h1{
    text-align: center;
    font-family: "Indie Flower", arial;
}
#hardware_work {
    top:1200px;
    position: absolute;
}